<div class="p-4 text-right hidden" id="plus">
    <a href="#ajoutEtudiants" id="addEtud">
      <img src="images/signs.png" alt="ajouter un etudiant" width="20">
    </a>
  </div>

  <div class="p-4 " id="getEtudiants">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Age</th>
          <th scope="col">email</th>
          <th scope="col">Tél</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>lahcen</td>
          <td>zkiti</td>
          <td>26</td>
          <td>zkiti@gmail.com</td>
          <td>+212670809587</td>
        </tr>
      </tbody>
    </table>
  </div>